/* custom stylesheet */

/* coloe variable */
:root{
    --color-primary:#2289FF;
    --color-primary2:#d1d1d1;
    --color-secondary:#314862!important;
    --color-acent:#193F6A;
    --color-bg-half : #fffafa;
    --color-half : rgb(236, 233, 233);
    --font-poppins:Poppins,serif;
    --font-basic: Cambria, sans-serif ;
}

/* custom classes */
.bg-primary{
    background-color: var(--color-primary);

}
.color-primary{
    color: var(--color-primary);
}
.color-secondary{
    color: var(--color-secondary);
}
.bg-accent{
    background-color: var(--color-acent);
}
.color-acen{
    color: var(--color-acent);
}
.btn-theme{
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 30px 0px 30px 30px;
    transition: 0.5s ease-in-out;
}
.btn-theme-2{
    box-shadow: 0 10px 20px 0px rgb(34 137 255/52%);
    margin: 0;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}
.btn-play{
    box-shadow: none;
    margin: 0;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}
.btn-theme:hover{
    background-color: var(--color-acent);
    color: #ffffff;
    box-shadow: none;
}
.btn-theme-2:hover{
    background-color: var(--color-acent);
    color: #ffffff;
    
}
.btn-play:hover{
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}






/* header style */
header.header{
    width: 100% ;
    background-color: var(--color-bg-half);
    /* margin: auto 5rem auto 0rem; */
}


.header nav.navbar{
    
    box-shadow: none;
}
.header nav.navbar .navbar-brand{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 20px;
    color: var(--color-secondary);
}
.header nav.navbar .nav-item{
    margin: auto 5px;
}
.header nav.navbar .nav-link{
    color: var(--color-secondary);
    font-weight: 500;
    font-family: var(--font-poppins);
    padding: 10px 20px;
    transition: 0.5s ease;
} 
.header .navbar .nav-link:hover,
.header .navbar .nav-link:active{
    color: var(--color-primary);

}



/* details section  */


.details {
    margin: 10px 13rem 10px 13rem;
    padding: 10px;
    background-color: var(--color-bg-half);

}

#details {
    
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.details .item h1 {
    color: var(--color-secondary);
}

           
/* details section ends  */



/* The Modal (background) */
           .modal {
          

            position: fixed; /* Stay in place */
            z-index: 15;
            
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            
          }
        .modal-content {
            position: fixed;
            height: 30rem;
            width: 55rem;
            padding: 20px;
            border: 1px solid transparent;
            box-shadow: 10px 10px rgba(136, 124, 124, 0.5);
            font-family: var(--font-poppins);
            border-bottom-right-radius: 80px;
            border-top-left-radius: 80px;
            /* border-radius: 100%; */
              
        }
        
          .main-content {
        
           
            margin: 5% 20%;
            
            padding: 20px;
            
            
              
        }
           
        
        .close {
            color: #aaa;
            /* float: right; */
            font-size: 28px;
            font-weight: bold;
            margin-left: 2rem;
          }
          
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
          
          
          .img1 {
              /* float: left; */
            position: absolute;
            z-index: 1;
            top: 6rem; 
            width: 17rem;
            height: 14rem;
            border: 3px solid transparent;
            border-radius: 100%;
            border-bottom-right-radius: 0rem;
            
          }
          
          .foat {
            float: right;
            padding: 1rem;
            padding-left: 0rem;
            margin-left: 20rem;
            margin-bottom: 5rem;
            margin-right: 1rem;
            width: 30rem;
            /* background-color: rgb(89, 91, 189); */
            /* float: right; */
          }



/* modal ends */




/* New Modal  */



/* The new Modal (background) */
.newModal {
          

    position: fixed; /* Stay in place */
    z-index: 15;
    top: 0px;
    left: 0px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 100%;
    height: 100%;
    
    
  }
.modal-new-content {
    position: fixed;
    height: 40rem;
    width: 55rem;
    padding: 10px;
    padding-bottom: 0rem;
    background-color: whitesmoke;
    border: 1px solid rgb(168, 158, 158);
    box-shadow: 10px 10px rgb(168, 158, 158);
    font-family: var(--font-poppins);
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    /* border-radius: 100%; */
      
}

  .new-main-content {

   
    margin: 2% 20%;
    
    padding: 10px;
    
    
      
}

   

.newClose {
    margin-left: 2rem;
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .newClose:hover,
  .newClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
    
  #details .new-main-content .modal-new-content .new-float h6 {
      opacity: 50%;
  }

  #details .new-main-content .modal-new-content .new-float {
     float: right;
     margin-right: 15%;
    margin-bottom: 0rem;
  }

  #details .new-main-content .modal-new-content img {
    float: left;
    border-radius: 30px 0px 30px 0px;
    margin-left: 2rem;
    
}

/* New modal ends  */





/* Contact seller  */

#contact {
    
    float: right;
    position: fixed;
    z-index: 10; 
    display:flex; 
    justify-content:flex-end;
    margin-left: 74%;
    margin-top: 18.5%;

}

#contact .dropdown button {
   
    border-radius: 30px 30px 0px 30px;

}

#contact .dropdown .dropdown-menu {
    margin: 10px;
    padding: 20px;
    /* box-shadow: 5px 10px 5px 5px  rgba(139, 130, 130, 0.5); */
    position: fixed;
    z-index: 11;
}

.contact-input {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ffffff;
    outline: none;
    border-radius: 30px;
    border-bottom: 1px solid #31486250;
}

#contact .dropdown .dropdown-menu .dropdown-header img {
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
    border-top-right-radius: 0%;
    float: left;
    margin: 0rem;
    margin-right: 1rem;
    padding: 0px;
}
.contact-image {
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 10px;

} 


/* Contact seller ends */









/* Image slider */
html,
      body {
        position: relative;
        height: 100%;
        padding: 0%;
        margin: 0%;
      }

      body {
        background-color: var(--color-bg-half);
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }


      #img-slide {
          margin: 2rem 0rem; 
          /* margin-top: 0rem; */
          width: 100%;
          height: 65%;
          /* margin: 10px; */
        }
    
    #img-slide .swiper-container  {
        box-shadow: 5px 10px rgba(168, 158, 158, 0.5);
        border-radius: 0px 30px 30px 30px;
        background-color: whitesmoke;
        width: 100%;
        height: 100%;
        border-radius: 10px; 
        /* margin: 2rem auto; */
        /* width: 100%; height: 100%;  */
        /* border: 0px solid rgb(168, 158, 158);  */

        }


      .swiper-slide {
          width: 100%;
          height: 105%;
          margin-top: 0;
          background-repeat: no-repeat;
        /* background-size: auto;
        background-position: center ; */
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        /* display: block; */
        /* width: 100%;
        height: 80%; */
        /* object-fit: cover; */

      }

      #img-slide .mySwiper .swiper-wrapper img {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        overflow: hidden;
        border-radius: 0px 30px 30px 30px;
        margin-bottom: 10px;
      }

      #img-slide .mySwiper .swiper-wrapper {
          width: 100%;
          height: 100%;
      }

      .text-right {
          text-align: right;
      }

      
      .text-center {
        text-align: center;
    }

      .new {
          position: relative;
          z-index: 5;
          left: 475%;
          top: 1rem;
          padding: 0;
          height: 30px;
          text-align: right;
      }

      .old {
        position: absolute;
        z-index: 5;
        /* left: 0.5%; */
        top: 25%;
        right: 14%;
        padding: 0;
        height: 30px;
        text-align: right;
      }

      .abbr {
          color: var(--color-primary);
          border: none !important;
          cursor : pointer !important;
          text-decoration : none !important;
          
      }

/* Image slider ends  */







/* more test section  */

/* test section */
#test-section{
    width: 100%;
    height: 55%;
    /* height: 30rem; */
    /* background-color: var(--color-half); */
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    margin: 4rem 0rem 0rem 0rem ;
    padding: 1rem auto;
    padding-top: 1rem;
    background-color: whitesmoke;
    
}
#test-section .container {
    height: 95%;
}

#test-section .text-right a{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1rem;
    transition: 1s ease;
}


#test-section .text-right a:hover{
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.25s;
}

#test-section #test-slider{
    height: 50%;
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    /* border:1px solid ; */

}

#test-slider .swiper-container{
    width: 100%;
    height: 100%;
    margin: auto 0rem;
    /* height: 18rem; */
}

#test-slider .swiper-container .swiper-slide .test-list{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 0px 30px 0px 30px;
    color: #000000;
    height: 80%;
    width: 80%;
    margin-right: 10px ;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-secondary);
}

#test-slider .swiper-container .swiper-slide .test-list .image{
    width: 55%;
    height: 70%;
    padding-top: 10px;
    overflow: hidden;
    /* border-radius: 10px 30px 0px 30px; */
    /* margin-bottom: 10px; */
    object-fit: cover;
    background-size: cover;
}

#test-slider .swiper-container .swiper-slide .image img {
    width: 90%;
    height: 90%;
    /* background-size: cover; */
}

#test-slider .swiper-container .swiper-slide {
    padding:0rem;
    width: auto;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border-spacing: 0rem;
    counter-increment: swiper-slide;
}

#test-slider .swiper-container .swiper-slide .test-list:hover {
    height: 90%;
    width: 90%;
    font-size: 20px;
    color: var(--color-primary);
   
   
}
/* 
.single-text:hover {
font-size: 15px;
} */


#test-slider .swiper-container .swiper-slide .single-list:hover {
    /* height: 90%;
    width: 90%; */
    font-size: 17px;
    /* padding: 0rem; */
}

/* more test section ends  */








  
 



/* About section */

#about {
    background-color: var(--color-half);
    padding: 3rem 0rem;
    font-family: var(--font-basic);
}
.about-container h1 {
    text-align: left;
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    font-weight: 500;
}

.about-container h6 {
    text-align: left;
}


.about-container  {
    
    /* background-color: var(--color-half); */
    /* margin: 3rem 12.5rem; */
    
    padding: 2rem;
    padding-bottom: 7rem;
    font-family: var(--font-basic);
    line-height: 2;

}

.about-container:hover {
    border: 0px solid rgb(168, 158, 158);
    box-shadow: 5px 10px rgba(168, 158, 158 , 0.5);
    transition: 0.5s ease-out;
}

.about-container img {
    width: 10rem;
    height: 10rem;
    float: left;
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.inner-about {
    margin-left: 20rem ;
}

/* About section ends */






/* Facilities  */

#facilities {
    width: 100%;
    height: 75%;
    font-size: 10%;
    margin: 0rem 0rem;
    background-image: url("https://i.pinimg.com/originals/4f/93/20/4f932047f96fa94a01bf0f51cada47e9.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    overflow: hidden;
    opacity: 15%;
}

#test-facility {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 70%;
    font-size: 10%;
    margin: 1rem 0rem;
   }

.facility-container {
    position: absolute;
    z-index: 2;
    left: 12rem;
   width: 85%;
   height: 100%;
    margin: auto auto;
    /* margin-top: 2rem; */
    padding: 10px;
    padding-right: 20px;
    background-color: transparent;
    opacity: 100%;
    color: var(--color-secondary);
}

.a, .b , .c , .d , .e , .f , .g , .h , .i , .j {
    height: 25%;
    width: 12%;
    margin: 10px;
    text-align: center;

}
.a {
    position: absolute;
    top: 45%;
}
.b {
    position: absolute;
    left: 16%;
    text-align: right;

}
.c {
    position: absolute;
    left: 34%;
    font-size: 10px;
    text-align: right;

}
.d {
    position: absolute;
    left: 51%;
    text-align: right;

}
.e {
    position: absolute;
    left: 70%;
    text-align: right;

}
.f {
    position: absolute;
    left: 85%;
    top: 45%;

}
.g {
    position: absolute;
    left: 15%;
    top: 65%;
    text-align: left;

}
.h {
    position: absolute;
    left: 32%;
    top: 65%;
    text-align: left;

}
.i {
    position: absolute;
    left: 48%;
    top: 65%;
    text-align: left;

}
.j {
    position: absolute;
    left: 67%;
    top: 65%;
    text-align: left;

}


#test-facility .facility-container h1 {
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    font-family: 500;
    font-weight: 500;
    font-size: 2rem;
}

#test-facility .facility-container h3 {
font-weight: bold;
font-size: 20px;
/* position: absolute;
right: 45%; */
/* margin-top: 10%; */
font-family: sigmar one;
color: var(--color-secondary);
}

.facility-container:hover{
    background-color: transparent;
    border: 0px solid rgb(168, 158, 158);
    /* box-shadow: 5px 10px rgba(168, 158, 158, 0.5); */
    transition: 0.45s ease-in-out;
}

.facility-img {
    width: 70%;
    height: 70%;
    /* float: left; */
    /* margin-left: 5%;
    margin-bottom: 3rem;
    margin-top: 10%; */
}

.facility-img2 {
    width: 70%;
    height: 70%;
    /* float: right;
    margin-top: 10%;
    margin-right: 5%; */

}


/* Facilities ends  */





/* Maps  */

#direction {
    height: 80%;
    width: 100%;
    margin: 3rem 0rem;
}


.maps {
    height: 100%;
    width: 100%;
    /* margin: 0rem auto; */
    padding: 15px;
   
}
.maps:hover {
    background-color: whitesmoke;
    border: 0px solid rgb(168, 158, 158);
    box-shadow: 5px 10px  rgba(168, 158, 158, 0.5);
    transition: 1s ease-out;
}

.maps h1 {
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    font-weight: 500;
}

.inner-map {
    height: 80%;
    width: 100%;
}

iframe {
    margin: 1%;
    /* margin-left: 2%; */
    /* margin-: 5px; */
    box-shadow: 3px 5px 0px 3px rgba(168, 158, 158, 0.5);
    border-radius: 30px;
    border-top-left-radius: 0rem;
}
#direction .maps .inner-map {
    align-content: center;
    padding-left: 20rem;

    
}

.maps-img {
    width: 5px;
    height: 5px;
    /* background-color: aqua; */
}

/* maps end */







/* more property section  */

/* property section */
#property-section{
    width: 100%;
    height: 70%;
    /* height: 30rem; */
    /* background-color: var(--color-half); */
    font-family: var(--font-poppins);
    color: var(--color-secondary);
    /* margin: 0rem 0rem ; */
    /* padding: 10px auto; */
}

#property-section .box {
    margin-top: 1rem;
}

#property-section .text-right a{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 16px;
    transition: 1s ease;
}

#property-section .text-right a:hover{
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.25s;
}

#property-section #property-slider{
    height: 18rem;
    width: 100%;
    margin-top: 5px;
    /* border:1px solid ; */

}

#property-slider .swiper-container{
    width: 100%;
    height: 100%;
    /* height: 18rem; */
}

#property-slider .swiper-container .swiper-slide .property-list{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 0px 30px 0px 30px;
    color: #000000;
}

.hoverable {
    transition: 0.25s;
}

#property-slider .swiper-container .swiper-slide .property-list p{
    font-weight: 500;
}

#property-slider .swiper-container .swiper-slide .property-list .image{
    width: 100px;
    height: 70px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px 30px 0px 30px;
    margin-bottom: 10px;
}

#property-slider .swiper-container .swiper-slide .image img {
    width: 100%;
    height: 70px;
    background-size: cover;
}

/* more property section ends  */






/* mail section */
#mail-section{
    width: 100%;
    padding: 100px 0;
    text-align: center;
    font-family: var(--font-poppins);
}
#mail-section .form{
    border-radius: 30px;
    padding: 10px 40px;
}
#mail-section .form input{
    border-radius: 30px;
    padding: 15px 0px;
    border: none;
}
#mail-section .form input:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
#mail-section .form .btn-theme{
    border-radius: 30px;
    padding: 12px 40px;
}

/* mail section ends  */







/* footer  */
footer{
    width: 100%;
    padding: 50px 0;
    background-color: var(--color-primary);
    opacity: 100%;
    font-family: var(--font-poppins);
    color: #ffffff;
    border-radius: 50px 50px 0 0;
    

}

footer ul{
    list-style: none;
    margin: 0;
    padding:0;
}
footer ul li a{
    color: #ffffff;


    font-size: 13px;
    transition: 0.5s ease;
}
footer ul li a:hover{
    opacity: 0.7;
    color: #ffffff;
}

/* responsive
@media only screen and (max-width:500px){
    #search-section{
        margin-top: 0px;
    }
    #search-section .search-area{
        border-radius:0;
        padding: 30px;
    }
    #search-section .search-area input{
        margin-bottom: 10px; 
    }
    #search-section .search-area button.btn-theme{
        margin-top: 20px;
        width: 100%;
    }

    service section
    #service-section .d-flex{
        flex-direction: column;
    }
}  */